{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
       
        <a href="{% url 'register' %}">SignUp</a>
        <a href="#">Login</a>
        <a href="#">Logout</a>
        <a href="{% url 'home' %}">Home</a>
    </nav>
    <div class="center">
        
        {% if user.is_authenticated %}
            <h1> Welcome {user.email}  </h1>
            {% else %}
            <h1> Welcome   </h1>
        {% endif %}
            
    </div>
</body>
</html>